/* Styling the Map Container */
.MapContainer {
  width: 100%;
  height: 64vh;
  z-index: 1;
  position: relative;
}

/* Styling the Map Marker */
.MapContainer .leaflet-marker-icon {
  color: #ff5733;
  font-size: 1.5em;
}

/* Adjust the position of Leaflet's zoom control buttons */
.MapContainer .leaflet-top {
  top: 10%; /* Adjust the top position as a percentage of the map container's height */
}

.MapContainer .leaflet-control-zoom-in, .MapContainer .leaflet-control-zoom-out {
  background-color: #f5f7f6; /* Set the background color for the buttons */
  border: 1px solid #bbbcbc; /* Add a border to the buttons */
  cursor: pointer;
  opacity: 0.5; /* Adjust the opacity for the buttons */
  transition: opacity 0.2s; /* Add a transition for hover effect */
  width: 1em;
  height: 1em;
}

.MapContainer .leaflet-control-zoom-in:hover, .MapContainer .leaflet-control-zoom-out:hover {
  opacity: 1; /* Adjust the opacity for the hover effect */
}

/* Add this CSS for the address search container */
.MapContainer .address-search {
  position: absolute;
  top: 70px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  z-index: 1000; /* Ensure it's above other elements */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
  max-width: 200px;
}

.MapContainer .address-search input {
  border: none;
  outline: none;
  padding: 5px;
  flex-grow: 1;
}

.MapContainer .address-search button {
  border: none;
  outline: none;
  background-color: #007BFF;
  color: #fff;
  padding: 5px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
